self.addEventListener('fetch', event => {
  if (/manual-response/.test(event.request.url)) {
    event.respondWith(new Response("I'm a manually crafted response!"));

    return;
  }

  event.respondWith(
    caches.open('our-cache-v1').then(cache =>
      caches.match(event.request).then(response => {
        return response || fetch(event.request)
      })
    )
  );
});
